@{
	ViewData["Title"] = "Shop";
}
@model IEnumerable<ProductListVM>

@section scripts {
    <script>
		var page = 2;
		var pageSize = 4;
		$("#load-product").on("click", "#prod-load", function (ev) {
			ev.preventDefault();
			$.ajax({
				url: "@Url.Action("ShopProductLoad", "Shop")?page=" + page + "&pageSize=" + pageSize,
				success: function (data) {
					$("#records").append(data);
					page++;
				}
			});
		})
		// var page = 2;
		// var pageSize = 4;
		// $("#prod-load").click(function () {
		// 	$.ajax({
		// 		url: "Shop/ShopProductLoad?page=" + page + "&pageSize=" + pageSize,
		// 		success: function (data) {
		// 			$("#records").append(data);
		// 			page++;
		// 		}
		// 	});
		// });
	</script>
}
<section class="breadcrumb-section">
	<h2 class="sr-only">Site Breadcrumb</h2>
	<div class="container">
		<div class="breadcrumb-contents">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
					<li class="breadcrumb-item active">Shop</li>
				</ol>
			</nav>
		</div>
	</div>
</section>
<main class="inner-page-sec-padding-bottom" id="load-product">
	<partial model="Model" name="_ShopProductPartial" />
	<div class="row pt--30">
		<div class="col-md-12 text-center">
			<button id="prod-load" type="button" class="btn btn-primary">Load More</button>
			@* <a id="prod-load" class="btn btn-primary" asp-action="ShopProductLoad" type="button">Load More</a> *@
		</div>
	</div>
</main>

