@{
	Layout = null;
}
<head>
	<title>AAAAEE NE VARSAN!!??!?!</title>
</head>
<div style="align-content:center">
	<h1>En agillisan burda?</h1>
	<img src="https://kartinkived.ru/wp-content/uploads/2021/11/figi-ot-smajlika.jpg" />
</div>
